* {
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: auto;
  height: 100vh;
  min-width: 100px;
  margin: 0;
  padding: 0;
}

.dataTable {
  position: relative;
  max-width: 100vw;
  width: 100%;
}

.scrollContainer {
  overflow-x: auto;
  margin-right: 200px;
}

.headingTable {
  cursor: pointer;
}

.headingTable:hover {
  color: orange;
  cursor: pointer;
}

.actionHeadingTable {
  background-color: black;

  position: absolute;
  top: auto;
  right: 0;
  width: 200px;
  white-space: unset;
  text-align: center;
  backface-visibility: hidden;
  align-items: center;
  text-align: center;

  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.actionRow {
  background-color: black;
  margin: 0;
  position: absolute;
  top: auto;
  right: 0;
  width: 200px;

  white-space: unset;
  text-align: center;
  align-items: center;
  backface-visibility: hidden;

  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.columnTable:hover {
  color: greenyellow;
}

/* spinier */
#spinner {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 50%;
  border-top-color: orange;
  border-left-color: orange;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Not Found */
.not-found {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  background-color: black;
}