.App {
  background-color: black;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

/* Not Found */
.not-found{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  background-color: black;
}